* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    position: relative
}

main{
    display: flex;
}

.titulo{
   
}

.subtitulo{

}

.prazo{

}

.texto{
    color: black;
}

.container-img{
    justify-content: flex-start;
    
}